.App {
  text-align: center;
  background:lightgray
}

.formLabels{
  width:150px;
}

.mainTitle{
  margin-bottom:40px;
}

.subTitle{
  text-align: left;
}

.borderLines div{
  border: solid 1px black;
}